/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,100;1,500;1,600;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Roboto Mono', monospace;
}

:root {
  --text: rgb(10, 10, 10);
  --bg: #fff;
  --bg1: rgba(255, 255, 255, 0.5);
  --kotak: #337ccf;
  --kotak1: #9eb384;
}

.light-theme {
  --bg: rgb(10, 10, 10);
  --text: #fff;
  --kotak: #1450a3;
  --bg1: rgba(0, 0, 0, 0.5);
  --kotak1: #435334;
}

body {
  /* background-image: url('./img/bg10.jpg');
  background-size: 400%; */
  background-color: var(--kotak1);
  color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.yout {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

iframe {
  border-radius: 10px;
  display: grid;
  margin-bottom: 20px;
}

.icon {
  padding-top: 0px;
  margin: 4px 8px;
  width: 10em;
  height: 45px;
  color: var(--bg);
}

#icon1 {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.nav {
  width: 100%;
  max-width: 750px;
  justify-content: flex-end;
  display: flex;
  position: fixed;
  background-color: var(--bg1);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 10px;
  z-index: 99;
}

header {
  width: 95%;
  max-width: 788px;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  margin-top: 50px;
  margin-bottom: 100px;
  position: fixed;
  top: -300px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--kotak1);
  transition: top 0.3s;
  z-index: 1000;
}

header .judul {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--text);
}

.judul-akun {
  color: var(--text);
}

.share-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #222;
  cursor: pointer;
}

.share-button svg {
  margin-left: 12px;
  margin-top: 12px;
  color: #fff;
}

.container {
  width: 91%;
  max-width: 680px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  width: 160px;
  border-radius: 60%;
  height: 160px;
}

.container h1 {
  font-size: 20px;
  margin-bottom: 40px;
  padding-top: 20px;
}

/* Konten */

.isi a {
  text-dicoration: none;
}

.isi a i {
  font-size: 25px;
  color: var(--text);
  transition: all ease 0.3s;
}

.isi a i:hover {
  color: tomato;
}

/* Social Box */

.box-flex {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}

.social-box {
  display: inline-block;
  margin: 5px;
  padding: 20px;
  width: 15em;
  height: 10em;
  background-color: var(--bg1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: background-color 0.3s;
  border: 2px solid black;
}

.social-box:hover {
  background-color: var(--kotak);
}

.social-box a {
  text-decoration: none;
  color: var(--text);
  align-items: center;
  margin: 20px;
}

.social-box i {
  font-size: 50px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.social-box p {
  font-size: 20px;
  text-align: center;
}

footer {
  padding: 50px;
}

footer p {
  color: #fff;
  font-size: 13px;
  text-align: center;
  padding: 5px;
}

footer a {
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
}

footer a button {
  color: var(--bg);
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: var(--text);
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .social-box {
    width: 10em;
    height: 10em;
  }
  .nav {
    max-width: 430px;
  }
  header {
    left: 55%;
    transform: translateX(-52%);
  }
}
